
<h1>Signers</h1>

{{#loop}}
    <p >{{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{first}} {{last}}{{#if url}}</a>{{/if}}{{#if age}} | {{age}}{{/if}}{{#if city}} | <a href="/signers/{{city}}">{{city}}</a>{{/if}}</p>
{{/loop}}